.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  color: #0f1521;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #b31817;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.desc {
  font-size: 12px;
  text-align: center;
  color: #56464a;
}
